transformers
datasets
torch
shap
lime
scikit-learn
pandas
numpy
matplotlib
streamlit
Pillow
easyocr
requests
newsapi-python
spacy
textblob
fpdf2
fastapi
uvicorn
opencv-python-headless
